@media screen and (min-width: 992px) {
  .btn-hide {
    display: none;
  }

  .projects h3 {
    margin-left: 16px;
  }

  .projects:not(:first-of-type) {
    padding-top: 50px;
    height: 400px;
  }

  /* header section */
  .burgernav {
    display: none;
  }

  .nav-items {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }

  .nav-items li {
    margin-right: 20px;
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.4s;
  }

  .nav-items li:hover {
    border-bottom: 2px solid #f55800;
  }

  .logo {
    width: 200px;
  }

  .section-container {
    width: 50%;
    margin-left: 140px;
  }

  /* section-2 */

  .section-2 {
    background: #1c1a19 no-repeat 100% 100%
      url(src/Illustration-header-desktop.svg);
    background-size: 45%;
  }

  .icon {
    position: absolute;
    left: 0;
    top: 25%;
  }

  .icon ul {
    flex-direction: column;
    width: 0;
    margin-top: 50px;
  }

  .icon ul li {
    margin-block: 5px;
  }

  /* my Works */

  .works-section-a {
    width: 100%;
  }

  .feature {
    flex-direction: row;
    width: 100%;
  }

  .feature-img {
    width: 60%;
  }

  .mob-img {
    display: none;
  }

  .desktop-img {
    display: inline;
  }

  .feature-details {
    width: 40%;
    text-align: left;
  }
  .tech-stack-1 {
    padding: 0;
  }

  .proj-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  /* About me Section */
  .about-section {
    background: url(src/Frame-about-section.svg) no-repeat;
    background-position: 100% 50%;
    align-items: flex-start;
  }

  .about-1 {
    width: 50%;
    margin-left: 50px;
  }

  .skills {
    grid-template-columns: repeat(3, 1fr);
    margin: 142px 0;
  }

  /* Start Forms Section */

  .form-section {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form-a {
    flex-direction: row;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .form-a h2 {
    width: 40%;
    text-align: start;
    margin-right: 20px;
  }

  .form-a form {
    width: 60%;
  }
  .icon {
    width: 100%;
    text-align: center;
  }

  .icon-form ul {
    width: 30%;
  }

  .btn-center {
    display: inline;
    margin: 30px 0;
    width: 30%;
  }
}

@media screen and (max-width: 480px) {
  /* header section */
  .nav-items {
    display: none;
  }

  /* section-2 */

  /* my Works */

  /* About me Section */
  .about-section {
    background: url(src/Group.svg) no-repeat;
    background-position: bottom right;
  }

  /* Start Forms Section */
  .form-section {
    flex-direction: column;
  }
  .form-a {
    flex-direction: column;
  }
}
