@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
}

header {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 72px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: #fff;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.section-2 {
  background-color: #1c1a19;
  background-image: url(src/Illustration.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  width: 478px;
  height: 659px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}

h1 {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.section-2 h2 {
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.section-2 p {
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

a:hover {
  background-color: rgb(32, 37, 41);
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #ff6b00;
  border: solid 1px #fff;
  color: #fff;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
}

.tech-stack-1 {
  display: flex;
  left: 12px;
  top: 10px;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.tech-stack-1 li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  border: solid 1px #8993a4;
  color: #091e42;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
}

.tech-stack-2 {
  display: flex;
}

.tech-stack-2 li {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  border: solid 1px #8993a4;
  background-color: rgb(255, 246, 246, 0.4);
  font-family: Inter, "Roboto", sans-serif;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 20px;
}

.Feature {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.Feature h3 {
  width: 327px;
  height: 36px;
  font-family: "Crete Round";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.Feat-text {
  width: 327px;
  height: 147px;
  top: 48px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-bottom: 15px;
  text-align: justify;
}

.about-section .btn {
  align-self: flex-start;
  margin-left: 80px;
}

.my-works {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.my-works h2 {
  width: 327px;
  border-bottom: 1px solid #606163;
  height: 83px;
  font-family: "Crete Round";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 24px;
  margin-bottom: 34px;
}

.works-section-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.projects {
  background-image: url(src/Img\ Placeholder-proj.svg);
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: contain;
  position: relative;
}

.projects h3 {
  width: 295px;
  height: 81px;
  left: 16px;
  top: 8px;
  font-family: "Crete Round", "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  text-align: start;
  flex-grow: 0;
  margin-top: 94px;
  margin-bottom: 12px;
  z-index: 3;
}

.projects .Feat-text {
  width: 295px;
  height: 87px;
  left: 16px;
  top: 101px;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 10px 10px;

  z-index: 2;
}

.proj-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 50px;
}

.projects .btn {
  width: 57vw;
}

.about-section {
  background-image: url(src/Group.svg);
  background-repeat: no-repeat;
  background-color: #1c1a19;
  background-position: bottom right;
  width: 100vw;
  height: 100vh;
  top: 4137px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 60px;
}

.about-section h2 {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
}

.about-section p {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 327px;
  height: 148px;
  left: 24px;
  top: 223px;
}

.font_a {
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #f4f5f7;
}

.skills {
  background-color: #1c1a19;
  width: 478px;
  height: 659px;
  color: #f4f5f7;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.key-skills {
  width: 114px;
  height: 24px;
  top: 12px;
  font-family: "Inter", "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.key-skills h3 {
  width: 227px;
  height: 24px;
  left: 42px;
  top: 8px;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.skills-macro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}

.skills-feat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  top: 12px;
  font-family: Inter, "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  color: #fff;
}

.about-btn {
  padding: 10px;
  margin-bottom: 20px;
}

.about-container {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
}
